{% extends 'core/base.html' %}

{% block title %}Editar Numero de Serie{% endblock %}

{% block content %}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1><i class="fas fa-barcode mr-1"></i> Editar Numero de Serie</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'core:home' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'ordens:lista_ordens' %}">Ordens</a></li>
                    <li class="breadcrumb-item active">Numero de Serie</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">OS {{ object.numero_os }}</h3>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <strong>Cliente:</strong> {{ object.cliente.nome }}<br>
                            <strong>Equipamento:</strong> {{ object.get_tipo_equipamento_display }} {{ object.marca_equipamento }} {{ object.modelo_equipamento }}
                        </div>

                        <div class="alert alert-info py-2">
                            Apenas o numero de serie pode ser alterado nesta tela. A alteracao sera registrada no historico da OS.
                        </div>

                        <form method="post" novalidate>
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="id_numero_serie_equipamento">Numero de serie</label>
                                {{ form.numero_serie_equipamento }}
                                {{ form.numero_serie_equipamento.errors }}
                            </div>
                            <button type="submit" class="btn btn-primary">Salvar</button>
                            <a href="{{ object.get_absolute_url }}?tab=detalhes" class="btn btn-secondary">Cancelar</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
